*{
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  box-sizing: border-box;
 }
      body{background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(backim.jpg);
        background-size: contain;
      }
      .navi ul{
          float: right;
          list-style-type: none;
          margin-top: 25px;
      }
      .navi ul li{
          display: inline-block;
      }
      .navi ul li a{
          text-decoration: none;
          color: black;
          padding: 5px 20px;
          border: 1px solid white;
          background-color: white;
      }
      .navi ul li a:hover{
       background: linear-gradient(rgb(241, 204, 210),rgb(157, 205, 228));
       color: black;   
      }
      .navi ul li.active a{
          background: linear-gradient(rgb(241, 204, 210),rgb(157, 205, 228));
       color: black;   
      }
      .logo img{
          float: left;
          width: 250px;
          height: auto;
      }
      .main{
          max-width: 1200px;
          margin: auto;
      }
      .navi{
          background: linear-gradient(rgba(0, 0, 0, 0.541),rgba(5, 5, 5, 0.541)), url(backim.jpg);
              height: 120px;
              width: 100%;
          }
.contact-box{
  position: relative;
  left: 200px;
	max-width: 850px;
	display: inline-flex;
	text-align: center;
	background: linear-gradient(rgba(211, 168, 188, 0.658),rgba(235, 162, 196, 0.658));
}

.left{
  display: inline-block;
	background: url(contactimg.jpg) no-repeat center;
	background-size: cover;
	height: 550px;
  width: 800px;
}

.right{
  display: inline-block;
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgb(157, 205, 228);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgb(157, 205, 228);
	color: #fff;
	font-size: 1.1rem;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: rgb(75, 174, 219);
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
