*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
   }
        table,tr,td{
            border: 1px solid black;
            border-collapse: collapse;
            width: 320px;
        }
        .grey{
            font-size: larger;
            font-weight: bold;
            color: white;
            background: black;
            margin-left: 6px;
        }
        .img{
            height: 70px;
            width: 90px;
            margin: 6px;
        }
        .button{
            position:relative;
            height: 50px;
            width: 120px;
            color: black;
            font-size: xx-large;
            font-weight: bold;
            left: 100px;
            background: white;
            text-align:center;
            padding-bottom: 4px;
        }
        body{background: linear-gradient(rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.719)), url(backim.jpg);
        background-size: contain;
        }
        .navi ul{
            float: right;
            list-style-type: none;
            margin-top: 25px;
        }
        .navi ul li{
            display: inline-block;
        }
        .heading{
            font-size: 80px;
        }
        .navi ul li a{
            text-decoration: none;
            color: black;
            padding: 5px 20px;
            border: 1px solid white;
            transition: 0.6s;
            background-color: white;
        }
        .navi ul li a:hover{
            background: linear-gradient(rgb(241, 204, 210),rgb(157, 205, 228));
         color: palevioletred;   
        }
        .navi ul li.active a{
            background: linear-gradient(rgb(241, 204, 210),rgb(157, 205, 228));
         color: palevioletred;   
        }
        .logo img{
            float: left;
            width: 250px;
            height: auto;
        }
        .main{
            max-width: 1200px;
            margin: auto;
        }
        .navi{
            background: linear-gradient(rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.719)), url(backim.jpg);;
                height: 200px;
                width: 100%;
            }
        h1{margin-top: 0px;}
        .nav ul {
    margin: 0;
}
.table1{
    margin-left: 20%;display: inline-block;
}
.table2{
    margin-left: 20%; display: inline-block;
}
.table3{
    margin-left: 20%; display: inline-block;
}
.table4{
    margin-left: 65%; top: -900px; display: inline-block; position: relative;
}
.table5{
    margin-left: 65%; top: -900px; display: inline-block; position: relative;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.nav a{
    background: rgb(157, 205, 228);
}


.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
    margin-left: 180px;
    margin-top: 30px;
}
.main-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.719));
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}
.nav{
    margin-top: 30px;
    margin-left: 330px;
}
.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}
@media screen and (max-width:700px) {
    .band-name{
        margin-top: 15px;
        margin-left: 0px;

    }
    .nav li{ margin-left: 2px;
        
    }
    .li3{
        position: relative;
        left: 15px;
        top: 0px;
    }
    footer{
        position: relative;
        bottom: 0px
    };
}

@media screen and (max-width:500px) {
    .band-name{
        margin-top: 10px;
        margin-left: 0px;

    }
    .nav li{ margin-left: 2px;
        
    }
    .li3{
        position: relative;
        left: 72px;
        top: -52px;
    }
    footer{
        position: relative;
        bottom: 0px
    };
}
@media screen and (max-width: 1000px){
    .navi ul {
        right: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: sticky;
  height: 50%;
  overflow: auto;
}

    .navi li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

    .navi li a.active {
        background: linear-gradient(rgb(241, 204, 210),rgb(157, 205, 228));
  color: black;
}

.navi li a:hover:not(.active) {
  background-color: white;
  color: black;
}
.navi li{
    width: 100%;
}
.table1{
    position: relative;
    left: 60px;
    top: 100px;
}
.table2{
    position: relative;
    left: 60px;
    top: 140px;
}
.table3{
    position: relative;
    left: 60px;
    top: 140px;
}
.table4{
    position: relative;
    left: -160px;
    top: 190px;
}
.table5{
    position: relative;
    left: -160px;
    top: 190px;}
footer{
    position: relative;
    top: 250px;
    bottom: 0px;
}
.nav{
    position: relative;
    left: -270px;
    
}
.li2{
    position: relative;
    left: 60px;
    top: -46px;

}
.li3{
    position: relative;
    left: 120px;
    top: -92px;}
.band-name{position: relative;
top: -50px;}


}